# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment Files
.env

# TypeScript
dist/
*.tsbuildinfo

# PostgreSQL
*.db

# Logs
*.log

# IDE/Editor files
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db